div[data-field='field'] {
  position: relative;
  width: 100%;
}

.modalForm {
  padding: 25px;

  .modalForm__part {
    margin-right: 50px;
    display: flex;
    @media (max-width: 650px) {
      display: block;
    }

    input {
      outline: none;
      border: none;
      width: 90%;

      margin: 30px 50px 5px 0;
      border-bottom: 1px solid #9b9696;

      @media (max-width: 650px) {
        width: 100px;
      }

      &:focus {
        border-bottom: 1px solid #07e50a;
      }
      &[data-error='fieldError'] {
        border-bottom: 1px solid #ff0b26;
      }
    }
    small {
      left: 0;
    }
  }

  button {
    margin-top: 1.875rem;
    border: none;
    background: #000;

    width: 200px;
    height: 35px;

    border-radius: 10px;
    transition: all 0.3s;

    cursor: pointer;
    color: white;

    @media (max-width: 650px) {
      width: 100px;
      top: 50px;
    }

    &:hover {
      background: #676767;
    }
  }
}
