@mixin flexible($d, $fd, $jc, $ai) {
  display: $d;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}

@mixin base($w, $h, $b, $br, $bg, $c) {
  width: $w;
  height: $h;
  border-radius: $br;
  border: $b;
  background: $bg;
  color: $c;
}



.formWrapper {

  * {
    font-size: 12px;
  }
  @include flexible(flex, null, center, center);
  height: 100vh;

  .signIn {
    @include flexible(flex, column, null, center);
    @include base(25%, null, 1px solid #beb8b8, 10px, null, null);
    padding: 50px 0 50px 0;
    box-shadow: 10px 10px 15px;

    .signIn__title {
      font-weight: bold;
      font-size: 25px;
      margin-bottom: 20px;
      @media (max-width: 800px) {
        &{
          font-size: 20px;
        }
      }
    }

    .signIn__field {
      @include flexible(flex, column, null, null);
      width: 70%;
      margin-bottom: 10px;

      label {
        font-weight: bold;
      }
      input {
        @include base(null, 35px, 1px solid #9b9696, 5px, #efefef, null);
      }
    }

    .signIn__submit {
      @include base(70%, 35px, 1px solid #9b9696, 5px, #242424, white);
      cursor: pointer;
      transition: all .2s;
      &:hover {
        @include base(null, null, 1px solid black, null, #efefef, black);
      }
    }

    .signIn__commonError {
      @include base(null, null, 2px solid red, null, null, red);
      width: 70%;
      padding: 3px;
      margin-top: 35px;
    }

    .signIn__captcha {
      @include flexible(flex, column, null, null);
       width: 70%;
    }
  }
}

