table {
  text-align: left;
  width: 100%;
  margin-left: 10px;

  th {
    padding: 5px 0 5px 0;
    user-select: none;
  }

  td {
    padding: 10px 0 10px 0;
  }

  .contacts__ava {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;

    background: #1546c8;
    border-radius: 50%;

    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
  }

  .contacts__manipulation {
    position: relative;
    text-align: center;

    img {
      cursor: pointer;
      width: 20px;
      height: 20px;
    }
  }
}


.mobileTable{
  border-collapse: collapse;
  .mobileTable__tbody{


    .mobileTable__tr{
      position: relative;
      display: flex;
      align-items: center;

      padding: 3px 10px 3px 10px;
      td{
        margin-top: 10px;
        position: absolute;
        right: 10px;

      }
      .contacts__ava{
        
        right: 60px;
      }
    }
  }
}
